@import '../css/base/mixin';
@import '../css/base/maps';
@import '../css/base/extend';
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
  }
  .carousel-control-next, .carousel-control-prev{
    top: 50%;
    bottom: 50%;
    
  }
  h1 {
    font-size: 50px;
  }
  header nav ul li {
    display: inline-block;
    margin: 10px;
    border: 2px solid black;
    padding: 10px;
  }
  .roboto {
    font-family: "Roboto Serif", sans-serif;
    font-family: "Yanone Kaffeesatz", sans-serif;
  }
  body {
    text-align: center;
    background-color: #ffdae054;
  }
  
  .grid_container {
    display: grid;
    grid-template-columns: 25% 95%;
    padding: 50px;
  }
  .imagen {
    grid-row: 1;
  }
  .texto {
    width: 50%;
  }
  .galeria {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 50px;
  }
  .todoborde {
    border: 2px solid black;
    margin-bottom: 10px;
  }
  
  .info {
    display: grid;
    justify-content: center;
    padding: 1%;
    background-color: grey;
  }
  .foto1 {
    grid-area: hd;
  }
  .foto2 {
    grid-area: sd;
  }
  .foto3 {
    grid-area: ft;
  }
  .cruelty {
    grid-area: cf;
    grid-column: 1/2;
  }
  .wrapper {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 30% 30% 30%;
    grid-template-areas: "hd sd ft";
    justify-items: center;
  }
  .box {
    width: 300px;
    align-items: flex-end;
  }
  
  .textocruelty {
    border: 5px solid black;
    width: 500px;
    height: auto;
    padding: 2%;
  }
  .nombreanim {
    padding: 1%;
  }
  
  @media only screen and (max-width: 600px) {
    ul {
      display: grid;
    }
    .grid_container {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: auto;
      padding: 0px;
      margin-left: 0px;
    }
    .galeria {
      display: flex;
      flex-direction: column;
    }
    footer.pie {
      display: flex;
      flex-direction: column;
    }
    .texto {
      width: auto;
    }
    .wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .section2 {
      display: flex;
      flex-direction: column;
    }
    .textocruelty {
      width: auto;
    }
    .logoMarca {
      width: 100%;
    }
    .navbar-light .navbar-toggler{
      margin: auto;
    }
    .QuienesSomos{
      margin-top: 10px;
    }
  }
  .kapping {
    grid-area: kp;
  }
  .semis {
    grid-area: sm;
  }
  .tradicional {
    grid-area: tr;
  }
  .boxservicios {
    padding: 5%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: "kp sm tr";
  }
  .hh2 {
    display: inline-block;
    width: 50%;
    padding: 3%;
    border: 3px solid rgb(170, 104, 231);
    justify-items: center;
  }
  .desc {
    display: flex;
    justify-content: center;
    padding: 5%;

  }
  .infoimp {
    grid-area: ip;
  }
  .obtturno {
    grid-area: ot;
  }
  .cajaturnos {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-template-areas: "ip ot";
  }
  
  #axis:hover .larger {
    transform: scale(1);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    -moz-transform: scale(1.2);
  }
  .maquinaescribir {
    display: inline-block;
    font-family: monospace;
    white-space: nowrap;
    border-right: 4px solid;
    width: 11ch;
    animation: typing 5s steps(11), blink 0.5s infinite step-end alternate;
    overflow: hidden;
  }
  @keyframes typing {
    from {
      width: 0;
    }
  }
  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }
  
  .imagentransicion:hover {
    filter: brightness(0.6);
    transform: scale(1.1);
  }
  .transiciones {
    overflow: hidden;
  }
  .imagentransicion {
    margin-top: 15px;
    transition: all 0.9s ease;
    border: 2px solid black;
  }
  
  .row1 {
    background-color: #ffdae054;
  }
  .navbar-expand-lg .navbar-collapse {
    flex-direction: column;
  }
  .titulo {
    display: flex;
    justify-content: center;
  }
  .sacoover {
    overflow: hidden;
  }
  .alineacion {
    text-align: center;
  }
  .footercolor {
    color: white;
    background: linear-gradient(rgba(255, 218, 224, 0.33), rgb(255, 166, 166) 100%);
   }
  
  .nombreFooter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .iconFooter {
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  .logoNegro {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }
  
  .pad {
    padding: 5%;
  }
  .border {
    border-radius: 5%;
  }
  
  
  @media (min-width: 768px ){
      .im {
          grid-row: 1/3;
          grid-column: 1/3;
        }
        .kp {
          grid-column: 3/5;
          grid-row: 1/3;
        }
        
        .gr {
          grid-column: 1/5;
          grid-row: 3/5;
        }
        
        .bolso {
          max-width: 800px;
          padding: 1rem;
          margin: 0 auto;
          display: grid;
          
          grid-template-rows: 1fr;
          grid-gap: 1rem;
          justify-content: center;
          padding: 3%;
        }
        .QuienesSomos{
          margin: 10px;
        }
        .navbar-light .navbar-toggler{
          margin: auto;
        }
  
  
  
  }
  form{
      margin-bottom: 3%;
  }
  .aliniframe{
      display: flex;
      justify-content: center;
  }
  .cajaform{
      height: 450px;
      width: 100%;
      display: flex;
      flex-flow: column wrap;
      justify-content: space-between;
      align-items: center;
      margin-top: 80px;
      animation-duration: 4s;
      animation-name: appear;
      animation-delay: 0s;
  }
  .form{
      height: 45px;
      width: 500px;
      border: 1px solid #969696;
      font-family: "Oswald", sans-serif;
      font-size: 18px;
  }
  label{
      margin-left: 20px;
      margin-top: 5px;
  }
  input{
      color: #f5e7e9;
      background-color: #f5e7e9;
      border: #191919;
      height: 30px;
      width: 370px;
      margin: 10px;
      margin-top: 6px;
      font-family: "Oswald", sans-serif;
      font-size: 18px;
      outline: none;
  }
  textarea, input {
      color: #f5e7e9;
      background-color: #f5e7e9;
      border: #191919;
      height: 30px;
      width: 370px;
      margin: 10px;
      margin-top: 6px;
      font-family: "Oswald", sans-serif;
      font-size: 18px;
      outline: none;
      
  }
  textarea{
      margin-left:20px;
  }
  .nota{
      height: 200px;
  }
  .butt{
      text-align: center;
      border: none;
  }
  button{
      height: 45px;
      width: 500px;
      background-color: #505050;
      color: lightgray;
      font-size: 18px;
      font-family: "Oswald", sans-serif;
  }
  .espacio{
      margin-left: 4%;
  }
  .centrado{
      text-align: map-get($p, centrado );
      width: map-get($p, ancho );
  }
  .ServiciosImg{
    margin: auto;
  }
  @media only screen and (max-width: 1045px){
    .boxservicios{
      display: flex;
      flex-direction: column;
    }
  }